$height-fm: 1040px;
.first-monitor-i{
	background: rgba(47,54,58, .9);
	height: $height-fm;
}
.first-monitor-i__inner-image{
	background: url(../img/bg-first-monitor.jpg) no-repeat;
	z-index: -1;
	position: absolute;
	height: $height-fm;
	width: 100%;
}