$height-fm: 1040px;
.first-monitor-i{
	background: rgba(47,54,58, .9);
	&__inner-image{
		background: url(../img/bg-first-monitor.jpg) no-repeat;
		z-index: -1;
		position: absolute;	
		width: 100%;
	}
	&__section{
		height: 918px ;
	}
	&__container{
		display: table;
		height: 100%;	
	}
	&__main-block{
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		max-width: 670px;
	}
	&__p{
		font-family: $regular;
		color: $gray-transparent;
		max-width: 570px;
		padding: 40px 0;
    	float: right;
	}
}
@media (min-width: 992px){
	.first-monitor-i{
		height: $height-fm;
		&__inner-image{
			height: $height-fm;
		}
	}
}
@media (max-width: 991px){
	.first-monitor-i{
		&__inner-image{
			background: url(../img/bg-first-monitor-991.jpg) no-repeat;
		}
		&__section{
			height: auto !important;
			padding:{
				top: 60px;
				bottom: 60px;
			}
		}		
	}
	h1{
		text-align: center;
		font:{
			size: 3rem;
		}
	}
}
@media (max-width: 767px){
	.first-monitor-i{
		&__inner-image{
			background: none;
		}		
		&__p{
			float: none;
			text-align: center;
		}
	}
}
@media (max-width: 575px){
	h1{
		font:{
			size: 2rem;
		}
	}
}