.about-i{
	padding:{
		top: 160px;
	}
	&__col{
		width: 50%;
		float: left;
		&_right{
			text-align: right;
		}
	}
	&__p{
		color: $gray;
		padding:{
			top: 60px;
			bottom: 40px;
		}
		font:{
			family: $semi-Bold;
			size: .875rem;
		}
		line-height: 1.5;
	}
	&:after{
		display: table;
		content: "";
		clear: both;		
	}
}
@media (max-width: 767px){
	.about-i{
		padding:{
			top: 60px;
			bottom: 60px;
		}
		&__col{
			width: 100%;
			float: none;
			&_right{
				display: none;
			}			
		}
	}
}