//Font-family
$regular: 'Raleway-Regular', sans-serif;
$bold: 'Raleway-Bold', sans-serif;
$semi-Bold: 'Raleway-SemiBold', sans-serif;
//Font-size
$primary-fz: .75rem;
//Color
$red: #ff5722;
$gray: #929292;
html{
	font-size: 16px;
}
.container{
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}