//Font-family
$regular: 'Raleway-Regular', sans-serif;
$bold: 'Raleway-Bold', sans-serif;
$semi-Bold: 'Raleway-SemiBold', sans-serif;
$extra-Light: 'Raleway-ExtraLight', sans-serif;
//Font-size
$primary-fz: .75rem;
//Color
$red: #ff5722;
$gray: #929292;
$black: #2a2e31;

html{
	font-size: 16px;
}
.container{
	width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
h1{
	color: #fff;
	font:{
		family: $extra-Light;
		size: 3.9375rem;
	}
}
h2{
	display: inline-block;
	font:{
		family: $regular;
		size: 3.3333rem;
	}
	letter-spacing: 3px;
	color: #fff;
	&:after{
		display: block;
		margin:{
			left: auto;
			right: auto;
		}
		content: "";
		background: url(../img/h2.png) no-repeat;
		width: 95px;
		height: 18px;
	}	
}
.h2-transparent{
	&:after{
		display: block;
		margin:{
			left: auto;
			right: auto;
		}
		content: "";
		background: url(../img/h2-transparent.png) no-repeat;
		width: 95px;
		height: 18px;
	}	
}
@media (max-width: 1199px){
	.container{
		width: 960px;
	}
}
@media (max-width: 991px){
	.container{
		width: 720px;
	}
	h2{
		font:{
			size: 2.5rem;
		}
	}	
}
@media (max-width: 767px){
	.container{
		width: 540px;
	}
	h2{
		font:{
			size: 2rem;
		}
	}
}
@media (max-width: 575px){
	.container{
		width: auto;
	}
}
.black{
	color: $black;
}