$Raleway:(
	Raleway-Regular,
	Raleway-Bold,
	Raleway-SemiBold,
	Raleway-ExtraLight,
	Raleway-Medium
);
@each $font in $Raleway{
	@font-face{
		font-family: #{$font};
		src: url(../fonts/#{$font}.ttf);
	}
}